{block #content}

<div class="space-x-4">
	<div class="text-blue-800 font-bold text-3xl">
		Hey {$greetings}! This is awesome! Right?
	</div>

	<div class="w-1/2 mt-16">
		<img src="https://i.imgur.com/kraqfW5.png" loading="lazy">
	</div>
</div>
